html{
    background-color: #262626;
}
.guarantee {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guarantee-item {
    background-color: tomato;
    width: 20%;
    height: 230px;
    margin: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}